.grid-col-1  { width: 8.3333%; }
.grid-col-2  { width: 16.6667%; }
.grid-col-3  { width: 25%; }
.grid-col-4  { width: 33.3333%; }
.grid-col-5  { width: 41.6667%; }
.grid-col-6  { width: 50%; }
.grid-col-7  { width: 58.3333%; }
.grid-col-8  { width: 66.6667%; }
.grid-col-9  { width: 75%; }
.grid-col-10 { width: 83.3333%; }
.grid-col-11 { width: 91.6667%; }
.grid-col-12 { width: 96.6667%; }


body{
  background: black;
}

h1{
  color: red;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.copyright{
  position: relative;
  color: white;
  float: right;
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-right: 2rem;

}

#bodyContainer{
  margin-top: 5rem;
}


.grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 0.2rem;
}

.card,
.back,
.front {
  height: 160px;
  width: 160px;
}

.front{
  border-radius: 0.2rem;
}

.back,
.front {
  position: fixed;
  backface-visibility: hidden;
  transition: 500ms;
  z-index: 1000;
  -webkit-transition: 500ms;
-o-transition: 500ms;
  /* background: url("/images/Question_mark_card.png") no-repeat center / contain; */
}

.back{
  -webkit-transform: rotateY(180deg);
  -webkit-transition: 500ms;
-o-transition: 500ms;
  transition: 500ms;
  z-index: 1000;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center ;
}

.selected {
  -webkit-transform: rotateY(180deg);

}

/* .same, .front{
  background: white !important;
} */

#score{
  color: white;
}
